################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/COSE50581 Tutorial Framework Semester 2/FGGC Framework Semester 2/.vs/DX11 Framework/v15/Browse.VC.opendb
